CLOUD_MAIN_BACKUP_DIR="/home/ctd/Nextcloud/lutris_savegames/"
GOG_LINUX_dex_SAVEGAMES="/home/WHOAMI_OUTPUT/.config/unity3d/Dreadlocks Ltd/Dex/"
GOG_LINUX_everspacetm_SAVEGAMES="/home/WHOAMI_OUTPUT/.config/Epic/RSG/Saved/"
GOG_LINUX_terraria_SAVEGAMES="/home/WHOAMI_OUTPUT/.local/share/Terraria/"
GOG_WINDOWS_control-ultimate-edition_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/My Games/Control/Saves/"
GOG_WINDOWS_cyberpunk-2077_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/Saved Games/CD Projekt Red/Cyberpunk 2077/"
GOG_WINDOWS_deus-ex-human-revolution-directors-cut_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/My Games/Deus Ex HRDC/"
GOG_WINDOWS_deus-ex-mankind-divided_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/My Games/Deus Ex Mankind Divided/Saves/"
GOG_WINDOWS_hard-reset-redux_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/Hard Reset Redux/profiles/"
GOG_WINDOWS_stalker-call-of-pripyat_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/Stalker-COP/savedgames/"
GOG_WINDOWS_the-settlers-ii-10th-anniversary_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/S2/"
GOG_WINDOWS_vampyr_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/Local Settings/Application Data/AVGame/Saved/SaveGames/"
GOG_WINDOWS_world-in-conflict_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/World in Conflict/Savegames/"
NOSERVICE_LINUX_minecraft_SAVEGAMES="/home/WHOAMI_OUTPUT/.minecraft/saves/"