CLOUD_MAIN_BACKUP_DIR="/home/ctd/Nextcloud/lutris_savegames/"


#each key name is built like this SERVICE_game-name_WHAT
#currently only gog has been tested, but should work with anything as long as 
#e.g. GOG_world-in-conflict_SAVEGAMES

GOG_world-in-conflict_SAVEGAMES=""
GOG_hard-reset-redux_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/Hard Reset Redux/profiles/"
GOG_the-settlers-ii-10th-anniversary_SAVEGAMES="/drive_c/users/WHOAMI_OUTPUT/My Documents/S2/"